@{
    Layout = "~/Views/Shared/_CoverLayout.cshtml";
    ViewBag.Title = "Home";
    ViewBag.MetaDescription = "OhioTrackStats.com";
}

<h1 class="cover-heading">
    OhioTrackStats.com
</h1>
<p class="lead">Always free. Always up-to-date.</p>
<p class="lead">
    <a class="btn btn-secondary btn-lg" href="@Url.Action("Leaderboard", "Home")">Go To Leaderboard</a>
</p>