@{
    ViewBag.Title = "Submit Performance";
    ViewBag.MetaDescription = "OhioTrackStats.com Submit Performance";
}

<h2>Submit Performance</h2>
<hr />
<p>OhioTrackStats.com is mainly populated via data pulled directly from <a href="http://www.baumspage.com" target="_blank">Baum's Page</a>. However, in the extremely likely event that I missed something, please send me an email with the details listed below.</p>
<dl>
    <dt>Email Address</dt>
    <dd><script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'a'+'&'+'#'+'1'+'0'+'5'+';'+'&'+'#'+'1'+
    '0'+'8'+';'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'5'+';'+'3'+'%'+'&'+'#'+'5'+
    '5'+';'+'5'+'b'+'%'+'6'+'D'+'%'+'6'+'9'+'t'+'&'+'#'+'6'+'4'+';'+'o'+'%'+'&'+'#'+'5'+'4'+';'+'8'+'i'+
    'o'+'t'+'&'+'#'+'1'+'1'+'4'+';'+'a'+'&'+'#'+'9'+'9'+';'+'k'+'%'+'&'+'#'+'5'+'5'+';'+'&'+'#'+'5'+'1'+
    ';'+'&'+'#'+'1'+'1'+'6'+';'+'a'+'%'+'&'+'#'+'5'+'5'+';'+'4'+'s'+'&'+'#'+'4'+'6'+';'+'%'+'&'+'#'+'5'+
    '4'+';'+'3'+'o'+'m'+"'"+'>'+'s'+'&'+'#'+'1'+'1'+'7'+';'+'b'+'m'+'&'+'#'+'1'+'0'+'5'+';'+'t'+'&'+'#'+
    '6'+'4'+';'+'o'+'h'+'i'+'o'+'&'+'#'+'1'+'1'+'6'+';'+'r'+'&'+'#'+'9'+'7'+';'+'c'+'&'+'#'+'1'+'0'+'7'+
    ';'+'s'+'t'+'a'+'&'+'#'+'1'+'1'+'6'+';'+'&'+'#'+'1'+'1'+'5'+';'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'1'+
    '1'+'1'+';'+'m'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript></dd>
    <dt>Subject</dt>
    <dd>Submit Performance</dd>
    <dt>Body</dt>
    <dd>Athlete Name</dd>
    <dd>Athlete Gender</dd>
    <dd>Athlete Graduation Year</dd>
    <dd>School Name</dd>
    <dd>Event</dd>
    <dd>Performance (Time/Distance/Height)</dd>
    <dd>Type of Timing (FAT/Manual/Field Event)</dd>
    <dd>Meet Name</dd>
    <dd>Meet Location</dd>
    <dd>Meet Date</dd>
</dl>