@{
    ViewBag.Title = "Bulk Performance Entry";
    ViewBag.MetaDescription = "OhioTrackStats.com Bulk Performance Entry";
}

@model OhioTrackStats.ViewModels.Admin.BulkViewModel

<h2>Bulk Performance Entry</h2>
<hr />
<p>Use this page to bulk enter performance data.</p>

<form>
    <div class="form-group">
        <label for="event">Event</label>
        <select class="form-control" id="event">
            @foreach (var ev in Model.Events)
            {
                <option>@ev.Name | @ev.Gender</option>
            }
        </select>
    </div>
</form>