@{
    ViewBag.Title = "Admininistration";
    ViewBag.MetaDescription = "OhioTrackStats.com Administration";
}

<h2>Admin Home</h2>
<hr />

<ul>
    <li>@Html.ActionLink("Athlete Entry", "AthleteEntry")</li>
    <li>@Html.ActionLink("Location Entry", "LocationEntry")</li>
    <li>@Html.ActionLink("Meet Entry", "MeetEntry")</li>
    <li>@Html.ActionLink("Performance Entry", "PerformanceEntry")</li>
</ul>